<!DOCTYPE html>
<html>
<head>
<title>Eleventy + Netlify</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h1>Eleventy + Netlify</h1>
{{content | safe }}
</body>
</html>